<div class="navbar navbar-scroll-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('homepage') }}"><img src="/themes/default/img/logo.png" width="223" height="67" alt="Git Repository Viewer" title="Git Repository Viewer"></a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li><a href="https://gitlab.com/users/sign_in" target="_blank">GitLab</a></li>
                    <li><a href="https://github.com/login" target="_blank">GitHub</a></li>
                    <li><a href="{{ path('homepage') }}refresh">Refresh</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
